/*This is global styles*/
html{
    padding: 0px;
    margin: 0px;
}
body{
    font-family: 'Raleway', sans-serif;
    padding: 0px;
    margin: 0px;
}
.common-header-blk{
    background: #337ab7;
    color: #fff;
    font-size: 16px;
    text-align: center;
}
.common-footer-blk{
    background: #337ab7;
    color: #fff;
    padding: 8px 0px;
    font-size: 16px;
    text-align: center;
    position : fixed; 
    width : 100%;
    bottom : 0px;
}
.has-error{
    color: red;
}

table{
    border-bottom: 1px solid #dddddd;
}

tbody {
    display:block;
    max-height:200px;
    overflow:auto;
}
thead, tbody tr {
    display:table;
    width:100%;
    table-layout:fixed;
}
thead {
    border: 1px solid #ddd;
    /*width: calc( 100% - 1em )*/
}

thead tr td{
    border-left: 1px solid #ddd;
    border-right: 1px solid #ddd;
}
tbody tr td{
    word-break: break-word;
    border-left: 1px solid #ddd;
    border-right: 1px solid #ddd;
}


